@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100;
  }
}

/* Print styles */
@media print {
  body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 0;
  }
  
  /* Force each page to start on a new page */
  .page-break {
    page-break-after: always;
    break-after: page;
  }
}